
.gig-details{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
h6{font-size: 14px}
h1{font-size: 28px;}
.about-title{font-size: 20px;}
mark{background-color: #FFECD1;}
.gig-details-main{
    min-width: 200px;
    width: 50%;
    height: auto;
    margin: 20px;
}
.details-owner{
margin-bottom: 20px;
display: flex;
}

.details-owner img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 20px;
}
.gig-buy-modal{
    width: 100%;
    height: auto;
    margin: 20px;
}
.about-desc{
    font-size: 16px;
    
}
.about-file-details{
    display: flex;
    border-bottom: solid 1px gray;
    
}
.about-get-to-know img{
    border-radius: 50%;
    height: 96px;
    width: 96px;
    margin-right: 20px;
}
.about-get-to-know-details{
    display: flex;
}
.logo-details {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
}
.details-review{
    border: solid 1px gray;
    border-radius: 4px;
    min-height: 133px;
}
.details-review img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-top: 21px;
    margin-left: 29px;
}
.detail-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Add margin to create space between columns */
}

.detail-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.detail-title {
    font-weight: bold;
    color: #555;
}

.detail-content {
    margin-top: 5px;
    color: #333;
}


