.gig-index {

    header {

        border-bottom: 1px solid #e4e5e7;
        
        .title-wrapper {

            .breadcrumbs {
                color: #62646a;
                display: flex;
                line-height: 18px;
                padding: 0px 0px 12px;
                align-items: center;
                font-weight: 500;

                li {
                    a {
                        border-radius: 50%;
                        color: #404145;
                        display: inline;
                        font-size: 14px;
                        padding: 9px;
                        text-align: left;
                    }
                }
            }

            h1 {
                color: #222325;
                font-size: 32px;
                font-weight: 700;
                line-height: 36px;
                padding: 8px 0px;
            }

            .index-subtitle {
                color: #74767e;
                line-height: 24px;
                text-align: left;
            }
        }
    }

    h2 {
        margin: 0;
        font-size: 1.3em;
    }

    button {
        margin-inline-end: 0;
    }
}