.home-page {
    padding: 0 rem(32px);

    .hero-box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: rem(1336px);
        border-radius: 16px;
        margin-top: rem(41px);
        position: relative;

        .hero-box {
            position: absolute;
            max-width: rem(616px);
            max-height: rem(241px);

            h1 {
                color: #fff;
                font-size: rem(60px);
                letter-spacing: -2.4px;
                line-height: rem(69px);
                text-align: center;
                font-weight: 400;

                span {
                    font-family: 'Domaine';
                    color: #1dbf73;
                    font-weight: 200;
                    font-size: rem(63px);
                }
            }

            .search-bar {
                display: flex;
                background: #fff;
                padding: 10px 58px 10px 16px;
                border-radius: 12px;
                height: rem(60px);

                input {
                    border: none;
                    outline: none;
                    font-size: 16px;
                    margin-right: 8px;
                    flex-grow: 1;
                }

                button {
                    align-self: center;
                    align-items: center;
                    background-color: #003912;
                    border-color: #0000;
                    border-radius: 8px;
                    border-style: solid;
                    border-width: 1px;
                    color: #fff;
                    display: flex;
                    line-height: 14px;
                    padding: 8px 16px;
                    max-width: rem(48px);
                    height: rem(48px);
                    position: absolute;
                    right: 6px;
                    cursor: pointer;

                    &:hover {
                        background-color: #126f43
                    }

                    .search-btn {
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }

        .trusted-by {
            display: flex;
            flex-direction: row;
            position: absolute;
            align-items: center;
            justify-content: end;
            gap: rem(40px);
            line-height: 24px;
            bottom: rem(32px);
            max-width: rem(623px);
            color: #fff;
            opacity: 0.5;


            span {
                font-size: 12px;
                font-weight: 500;

            }

            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                padding: 0;
                margin: 0;
                gap: rem(24px);

                li {
                    margin: 0 8px;

                    img {
                        max-height: 14px;
                    }
                }
            }
        }

    }

    .home-intro {
        display: flex;
        flex-direction: column;
        gap: rem(64px);
        padding: rem(40px) 0px;
        // height:rem(461px) ;

        .intro-title {
            width: rem(720px);
            height: rem(101px);
            color: #404145;
            font-size: rem(50px);
            letter-spacing: -1.44px;
            line-height: 50.4px;
            font-weight: 500;
            margin: 0px;
        }

        ul {
            display: flex;
            gap: rem(32px);
            line-height: 24px;
            margin: 0;

            li {
                display: flex;
                flex-direction: column;
                gap: 24px;
                max-height: rem(216px);


                .intro-card {
                    display: flex;
                    flex-direction: column;
                    gap: rem(24px);
                    text-align: left;
                    height: rem(120px);
                    width: rem(314px);

                    img {
                        height: 32px;
                        width: 32px;
                    }

                    h3 {
                        height: rem(64px);
                        line-height: 32px;
                        font-size: 24px;
                        color: #222325;
                        font-weight: 500;
                        align-self: stretch;
                    }
                }

                p {
                    margin: 0;

                }
            }
        }
    }

    .video-container {
        max-height: rem(676px);
        padding: rem(40px) 0px;

        video {
            border-radius: 12px;
            height: rem(589px);
            width: 100%;
            object-fit: cover
        }
    }

    .home-join-container {
        height: rem(320px);
        padding: rem(40px) 0;
        line-height: 24px;


        .home-join {
            display: flex;
            height: rem(240px);
            padding: rem(48px) 0px;
            background-color: #4D1727;
            border-radius: 12px;
            flex-direction: column;
            align-items: center;
            gap: 40px;



            h2 {
                font-size: rem(64px);
                color: #ffffff;
                max-height: rem(70px);
                line-height: rem(60.8px);
                text-align: center;
                font-weight: 400;
                letter-spacing: -1.28px;
                margin: 0;

                em {
                    color: #ff7640;
                    display: inline;
                    font-family: 'Domaine';
                    font-style: normal;
                }
            }

            a {
                background-color: #fff;
                color: #4D1727;
                border: 1px solid #fff;
                border-radius: 4px;
                line-height: 16px;
                padding: 12px 24px;
                text-align: center;
                font-weight: 700;

            }
        }
    }
}