.order-index {
    padding: 0 32px;
}

.order-list {
    width: 100%;
    border: 1px solid lightgray;
    border-collapse: collapse;

    .order-list-header {
        border-bottom: solid 1px lightgray;
        text-align: left;
    }

    .order-list-body {
        width: 100%;
    }

    td, th {
        padding: 10px;
        border: 1px solid lightgray;
    }
}
    