.app-header {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: white;

    header {
        // display: flex;
        min-height: rem(70px);
        // margin-bottom: 20px;

        nav {
            display: flex;
            align-items: center;
            // justify-content: space-between;

            width: 100%;

            font-size: .8em;

            & .nav-hamburger {
                margin-inline-end: rem(10px);
            }

            & .nav-logo>* {
                margin-inline-end: rem(35px);
                letter-spacing: -1px;

                font-size: 2.2em;
                font-weight: bold;
                color: $clr7;

                &:hover {
                    text-decoration: none;
                }

                & span {
                    color: $clr3;
                }
            }

            & .nav-filter {
                flex-grow: 1;
                margin-inline-end: rem(35px);
            }

            .nav-icons {
                gap: 0 12px;
                margin-inline-end: rem(30px);

                & .bell-icon,
                & .msg-icon,
                & .heart-icon {
                    height: 40px;
                    width: 40px;
                    font-weight: 400;
                    fill: #74767e;
                    border-radius: 50%;
                }

                & *:hover {
                    cursor: pointer;
                }

                & *:not(:last-child):hover {
                    background-color: #f5f5f5;
                }
            }

            .nav-orders {
                margin-inline-end: rem(25px);
                font-weight: 600;
                font-size: rem(16px);

                &>*:visited {
                    color: #74767e;
                }

                &>*:hover {
                    cursor: pointer;
                    text-decoration: none;
                    color: #1dbf73;
                    transition: .4s;
                }

                .orders-modal {
                    z-index: 10000;
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    width: 400px;
                    height: 470px;

                    border: 1px solid #CCC;
                    border-radius: 5px;
                    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

                    padding: 5px 5px 5px 0;

                    background-color: white;
                    color: #333;

                    transform: translate(-93.2%, 0.3%);
                }
            }

            .nav-user {
                display: grid;
                place-items: center;

                height: 32px;
                width: 32px;

                border-radius: 50%;

                background-color: #b25d1f;

                color: #fff;
                font-size: rem(16px);
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                }

                .user-modal {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    border: 1px solid #CCC;
                    border-radius: 5px;
                    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

                    padding: 5px 15px;

                    background-color: white;
                    color: $gray4;

                    transform: translate(-93%, 7%);
                    width: rem(248px);

                    .user-options {
                        border-bottom: 1px solid #dadbdd;
                        color: #74767e;


                        p>*:visited {
                            color: #62646a;
                        }

                        p>*:hover {
                            text-decoration: none;
                            color: $clr3;
                            transition: .4s;
                        }
                    }

                    p {
                        color: #74767e;
                        font-family: 'MacanExLight';
                    }

                    & p:hover {
                        color: $clr3;
                    }
                }
            }

            .nav-login-signup {
                display: flex;
                justify-content: space-between;
                align-items: center;

                gap: rem(25px);

                .login,
                .signup {
                    font-family: MacanBold;
                }

                .login {
                    font-size: rem(16px);

                    &:hover {
                        cursor: pointer;

                        color: $clr3;

                        transition: .4s;
                    }
                }

                .signup {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: rem(36px);
                    width: rem(63px);

                    border: 1px solid $clr3;
                    border-radius: 5px;

                    background-color: white;
                    font-size: rem(14px);
                    color: $clr3;

                    &:hover {
                        cursor: pointer;

                        background-color: $clr3;
                        color: white;

                        transition: .4s;
                    }
                }
            }
        }
    }
}