.app-header {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    header {

        display: flex;
        min-height: rem(70px);

        padding: 0px rem(32px);

        nav {
            display: flex;
            align-items: center;
            // justify-content: space-between;

            width: 100%;

            font-size: .8em;

            & .nav-hamburger {
                margin-inline-end: rem(10px);
            }

            & .nav-logo>* {
                margin-inline-end: rem(35px);

                font-size: 2.2em;
                font-weight: bold;
                color: $clr7;

                &:hover {
                    text-decoration: none;
                }

                & span {
                    color: $clr3;
                }
            }

            & .nav-filter {
                flex-grow: 1;
                margin-inline-end: rem(35px);
            }

            .nav-icons {
                gap: 0 12px;
                margin-inline-end: rem(30px);

                & .bell-icon,
                & .msg-icon,
                & .heart-icon {
                    height: 40px;
                    width: 40px;

                    fill: #62646a;
                    border-radius: 50%;
                }

                & *:hover {
                    cursor: pointer;
                }

                & *:not(:last-child):hover {
                    background-color: #f5f5f5;
                }
            }

            .nav-orders {
                margin-inline-end: rem(25px);

                font-size: rem(16px);

                &>*:visited {
                    color: #62646a;
                }

                &>*:hover {
                    text-decoration: none;
                    color: $clr3;
                    transition: .4s;
                }

            }

            .nav-user {
                display: grid;
                place-items: center;
                text-align: center;

                // margin-inline-start: remm(50px);

                height: 32px;
                width: 32px;

                border-radius: 50%;

                background-color: #9b6928;

                color: white;
                font-size: rem(16px);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}