.dash-list {
    width: 100%;
    margin: rem(18px) 0 0;
    border: 1px solid #dadbdd;
    border-radius: 5px;
    padding-inline-start: 10px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    // border-collapse: collapse;

    h4 {
        color: #3d3d3d;
        font-weight: 900;
        font-size: 16px;
    }

    .dash-list-header {
        display: flex;
        align-items: center;
        height: rem(80px);
        border-bottom: 1px solid #dadbdd;
        // justify-content: space-between;

        .buyer-col {
            width: 20%;
            min-width: 80px;

            h4 {
                position: relative;
                left: rem(34px);
            }
        }

        .gig-col {
            max-width: 50%;
            min-width: 100px;
            flex: 1;

            h4 {
                position: relative;
                left: rem(110px);
            }
        }

        .date-col {
            width: 15%;
            min-width: 80px;

            h4 {
                position: relative;
                left: rem(6px);
            }
        }

        .total-col {
            width: 10%;
            min-width: 80px;

            h4 {
                position: relative;
                left: rem(28px);
            }
        }

        .status-col {
            text-align: center;
            padding-inline-end: 10px;
            position: relative;
            width: 15%;
            min-width: 110px;
        }
    }

}