.dashboard {
    display: flex;
    margin: 30px 30px 50px;

    .seller-orders {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .headline {
        color: #62646a;
        font-size: 24px;
        font-weight: 700;
        align-self: flex-start;
    }
}

@include for-mobile-layout {
    .dashboard {
        margin: 30px 0px 0px 0px;


        .seller-orders {
            .headline {
                display: none;
            }
        }
    }
}

@include for-small-layout {
    .dashboard {
        display: flex;
        margin: 30px 30px 50px;

        .seller-orders {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .headline {
            color: #62646a;
            font-size: 24px;
            font-weight: 700;
            align-self: flex-start;
        }
    }
}