.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .review {
    border-top: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;

    .review-header {
      display: flex;
      align-items: center;
      font-weight: bold;
      text-align: left;
      gap: 16px;

      img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
      }

      .username {
        font-size: 16px;
        color: #404145;
      }

      .country-wrapper {
        display: flex;
        gap: 8px;
        margin-top: 5px;

        img {
          width: 16px;
          height: 16px;
          margin-top: 5px;
        }

        .country {
          font-size: 14px;
          color: #62646A;
          font-weight: 550;
        }
      }
    }

    .review-details {
      color: #62646a;
      margin: 10px 0px 0px 78px;
      text-align: left;

      .review-rating-wrapper {
        display: flex;
        margin: 20px 0px 12px;
        align-items: center;

        .review-rating {
          position: relative;
          font-size: rem(23px);
          color: #222325;
          top: -3px;
        }

        .review-score {
          position: relative;
          font-size: 16px;
          padding: 0px 12px 0px 4px;
          color: #222325;
          font-weight: 700;
          top: -1px;
          border-right: 1px solid #ccc;
          margin-right: 8px
        }

        .review-date {
          font-size: 14px;
          color: #666;

        }

      }

      .review-text {
        color: #404145;
        text-align: left;
      }

      // .feedback {
      //   display: flex;
      //   gap: 10px;

      //   button {
      //     background-color: transparent;
      //     border: none;
      //     color: #007bff;
      //     cursor: pointer;
      //     font-size: 0.9em;

      //     &:hover {
      //       text-decoration: underline;
      //     }
      //   }
      // }
    }
  }
}