.hero-carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-carousel-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.thumbnail-container {
  margin-top: 20px;
}

.thumbnail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 2px solid transparent;
}

.thumbnail-image-container.active {
  border: 2px solid #007bff;
}

.thumbnail-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.react-multi-carousel-dot-list{
  display: none;
}