  .hero-image-container {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;

  }
  
    .hero-carousel-image {
      width: 100%;
      height: auto;
    }
  
  
  .thumbnail-image-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 3px;
    padding: 3px 5px 0 0;

    .thumbnail-image {
      width: 100%;
      height: auto;

      &:not(.active) {
        opacity: 0.3;
      }
    }
  }

  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100000;;
    background-color: #fff;
    border-radius: 50%;
    // border-radius: 30px;
    padding: 12px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.15);
    width: 48px;
    height: 48px;
    visibility: visible;
    overflow: visible;

  

    path{
      width: 16px;
      height: 16px;
      fill: #404145
    }
  }

  .custom-left-arrow {
    // left: -24px;
    left: 2px;
  }

  .custom-right-arrow {
    // right: -24px;
    right: 2px;
  }
