
.details-main-carousel {
  // width: em(712px);
  // height: em(427px);
  // position: relative;
  // z-index: 10;

  .hero-image-container {

    display: flex;
    justify-content: center;
    align-items: center;

    .hero-carousel-image {
      width: 100%;
      height: auto;
      // display: block;
    }
  }

  .thumbnail-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 5px;
    border: 2px solid transparent;

    .thumbnail-image {
      max-width: 100%;
      height: auto;
      // display: block;
    }
  }
}