.gig-filter {
    display: flex;
    flex-direction: column;

    .title-container {
        margin-block: rem(16px);
        // padding: 0 0 rem(16px);

        .breadcrumbs {
            margin: 0;
            padding-bottom: rem(10px);

        }

        h1 {
            margin: 0;
            padding: rem(12px) 0;
            font-size: rem(32px);
            color: darken($clr6, 25%);
        }

        .index-subtitle {
            margin: 0;
            font-size: rem(16px);
            color: lighten($clr5, 10%);
        }
    }

    .filter-container {
        display: flex;
        gap: rem(12px);

        padding: rem(16px) 0;
        // .btn-container

        .filter-btn {
            height: rem(42px);
            min-width: rem(160px);

            border: 1px solid lighten($gray3, 40%);
            border-radius: 8px;

            padding: rem(10px) rem(20px);

            background-color: white;

            color: darken($clr6, 25%);
            font-size: rem(16px);
            font-family: MacanBold;

            &.budget,
            &.delivery-time {
                gap: rem(8px);

                svg {
                    padding-top: 3px;
                }
            }

            &.budget:hover,
            &.delivery-time:hover {
                cursor: pointer;
                background-color: #f5f5f5;
            }
        }
    }

    .sort-container {


        .sort-by-wrapper {
            justify-content: space-between;
            align-items: center;

            margin-block: 0px;

            .form-container {

                span {
                    padding: 8px;
                    border-radius: 8px;

                    svg {
                        padding-top: 7px;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: #fafafa;
                    }
                }

            }
        }
    }
}