.gig-filter {
    display: flex;
    flex-direction: column;

    .title-container {
        margin-block: rem(16px);
        // padding: 0 0 rem(16px);

        .breadcrumbs {
            margin: 0;
            padding-bottom: rem(10px);

            a {
                // display: flex;
                font-size: 14px;
                color: #404145;
                font-family: 'MacanThin';
                font-weight: 900;

                img {
                    height: 14px;
                    width: 14px;
                    margin-right: 12px;
                    margin-top: 3px;
                }
            }

            span {
                color: #c5c6c9;
            }
        }

        h1 {
            margin: 0;
            padding: rem(12px) 0;
            font-size: rem(32px);
            color: darken($clr6, 25%);
        }

        .index-subtitle {
            margin: 0;
            font-size: rem(16px);
            color: lighten($clr5, 10%);
        }
    }

    // .sticky {
    //     display: flex;
    //     gap: rem(12px);
    //     padding: 10px 0 13px 0;
    //     top: 100px;

    //     .filter-container {
    //         display: flex;
    //         gap: rem(12px);
    //         padding: 10px 0 13px 0;
    //     }
    // }

    .filter-container {
        // overflow: visible;
        // position: fixed;
        // z-index: 1000;
        position: static;
        display: flex;
        gap: rem(12px);
        padding: 10px 0 13px 0;

        // background-color: #fff;

        .filter-btn {
            height: rem(42px);
            border: 1px solid lighten($gray3, 40%);
            border-radius: 8px;
            padding: rem(10px) rem(20px);
            background-color: white;
            color: darken($clr6, 25%);
            font-size: rem(16px);
            font-family: MacanBold;

            &.budget,
            &.delivery-time {
                gap: rem(8px);
                height: 48px;

                p {
                    color: #222325;
                }

                svg {
                    padding-top: 3px;
                    width: 12px;
                    height: 12px;
                }
            }

            &.budget:hover,
            &.delivery-time:hover {
                cursor: pointer;
                background-color: #f5f5f5;
            }

            .budget {
                width: rem(116px) !important;
                min-width: none;
            }
        }
    }

    .sort-container {


        .sort-by-wrapper {
            justify-content: space-between;
            align-items: center;
            margin-block: 0px;

            .form-container {

                span {
                    font-family: 'MacanExBold';
                    padding: 8px;
                    border-radius: 8px;
                    color: #222325;
                    font-size: rem(16px);

                    svg {
                        padding-top: 7px;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: #fafafa;
                    }
                }

            }
        }
    }
}