.gig-filter {
    display: flex;

    & input {
        align-content: center;
        // height: 38px;
        // width: rem(790px);
        width: 100%;
        // height: 100%;

        border: none;
        outline: 1px lighten($gray2, 10%) solid;
        border-radius: 4px 0px 0px 4px;

        padding-inline: rem(15px);
        font-size: rem(18px);

        &::placeholder {
            color: lighten($gray2, 10%);
            font-weight: lighter;
        }
    }

    input:is([type="text"], [type="number"]) {
        height: 1.8em;
        border: none;
        border-block-end: 1px solid $gray1;

        &:focus {
            outline: none;
            background-color: $gray1;
        }
    }

    & .btn {
        height: 40px;
        width: 50px;

        margin-top: -1px;
        padding-top: 9px;

        background-color: black;
        border-radius: 0px 4px 4px 0px;
    }

    .btn-clear {
        grid-column: 4;
    }

    .sort-field,
    .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em;

        // margin-inline-start: .4em;

        font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            outline: 1px solid $gray1;
        }

        &:has(:checked) span {
            background-color: $clr3;
            color: $gray1;
        }
    }
}