.basic-gig-card {
    display: block;
    justify-content: space-between;
    
    a {
        text-decoration: none;
        color: $clr5;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .img-container {
        position: relative;
        padding-bottom: 59.999%;
        border: 1px solid #ddd;
        border-radius: 8px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            
        }
    }

    .card-seller {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 12px 0px 0px;


        .card-profile {
            display: flex;
            align-items: end;
            font-size: rem(14px);
            gap:6px;

            .card-profile-name {
                display: flex;
                align-items: end;
                min-width: 120px;
                gap: 5px;

                & span {
                    color: #222325;
                    font-weight: 700;

                }
            }

            & img {
                border-radius: 30px;
                height: rem(24px);
                width: rem(24px);
                background-color: transparent;
            }
        }

        .card-rate {
            display: flex;
            align-items: center;
            gap: 2px;
            color: $clr6;
            font-weight: 600;
            font-size: 14px;
            height: rem(24px);
            border-radius: 4px;
            min-width: rem(120px);
            justify-content: end;

            &.top-rated {
                background-color: $clr8;
                color: $clr9;
                padding-inline: 8px;
            }

            .levelStar {
                margin-top: 3px;
            }
        }
    }

    .card-title {
        p {
            flex-grow: 2;
            display: flex;
            font-size: rem(16px);
            color: $clr6;
            font-weight: 500;
            margin: 0;
            height: rem(50px);
        }
    }

    .card-bottomLine {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-rating {
            display: flex;
            align-items: center;
            margin: 8px 0px 6px;
            gap: 3px;
            color: $clr7;
            font-weight: 700;


            span {
                color: $gray3;
                font-weight: 600;
            }

        }

        .card-from {
            display: flex;
            gap: 5px;
            color: $clr7;
            font-weight: 600;
        }
    }
}