.mobile-dashboard {
    // max-width: 700px;
    height: 680px;

    .user-info-container {
        max-width: 100%;
        max-height: rem(600px);
        border: 1px solid #dadbdd;
        border-radius: 10px;
        margin: 0px 40px 60px 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .user-stats {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // gap: 5px;

            &>* {
                height: 180px;
                width: 100%;

                border: 1px solid lighten($gray1, 3%);
                // border-radius: 10px;

                padding: 10px;
            }

        }
    }
}

@include for-mobile-layout {
    .app-header {
        display: none;
    }

    .mobile-dashboard {

        .user-info-container {
            margin: 0px 0px 60px 0px;
        }
    }

    .footer-bottom {
        margin-top: 60px;

        .footer-bottom-left {
            left: 80px;
            position: relative;
        }
    }
}

@include for-small-layout {
    .app-header {
        display: block;
    }

    .mobile-dashboard {
        display: none;
    }

    .footer-bottom {
        margin-top: 0px;

        .footer-bottom-left {
            left: 0px;
            position: relative;
        }
    }
}