.order-checkout {
    padding: 0 rem(32px);

    h1 {
        text-align: center;
    }

    .checkout-details-container {
        display: block;
        margin: 0 auto;
        width: 400px;
    }
}