.order-checkout {
    padding: 0 rem(32px);
    margin-left: -16px;
    margin-right: -16px;
    position: relative;
    display: flex;
    flex-flow: row wrap;

    .checkout-details-container {
        display: block;
        margin: 0 auto;
        // width: 400px;
        margin-top: 18px;
        // background-color: #fafafa;
    }
}