.order-preview {
    display: flex;
    align-items: center;

    gap: rem(5px);

    border-bottom: 1px solid $gray2;

    &:hover {
        border-bottom: 1px solid $clr3;
    }

    .img-container {
        max-width: 110px;
        padding: 0 rem(10px);
    }

    .gig-info-container {

        .gig-info {
            line-height: lh(18px);
        }
    }

}