.package-comparison {
  h2 {
    text-align: left;
  }

  .package-table {
    display: flex;
    border: 1px solid #ccc;

    .feature-column {
      flex: 1;
      border-right: 1px solid #ccc;
      text-align: left;
    
      .feature-header{
        height:20%;
      }


      .feature-header, .feature-name {
        padding: 10px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
      }

      .feature-name {
        font-weight: normal;
      }
    }

    .package {
      flex: 1;
      text-align: center;

      .package-header {
        background-color: #f8f8f8;
        border-bottom: 1px solid #ccc;
        padding: 10px;
      }

      .feature-value {
        padding: 10px;
        border-bottom: 1px solid #ccc;

        .icon-available {
          color: green;
        }

        .icon-unavailable {
          color: red;
        }

        .select-btn {
          background-color: black;
          color: white;
          border: none;
          padding: 10px 20px;
          cursor: pointer;

          &:hover {
            background-color: #333;
          }
        }
      }
    }
  }
}
