.sticky-wrapper {
    width: 100%;
    display: flex;
    gap: rem(12px);
    padding: 10px 0;
}

.sticky {
    position: fixed;
    top: 85px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10000;
    padding-left: 292px;
    // padding-left: 51.4px;
}


.filter-container {
    position: static;
    display: flex;
    gap: rem(12px);
    padding: 10px 0;
}