* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    color: $clr2;
}

body {
    color: $clr5;
    margin: 0 auto;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family:'Macan';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    // margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}