.main-container {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    position: relative;
    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @include for-mobile-layout {
        grid-template-columns:
            minmax(3px, 1fr) minmax(auto, $mobile-breakpoint) minmax(3px, 1fr);

        .gig-list {
            grid-template-columns: repeat(1, minmax(rem(240px), rem(550px)));

        }
    }

    @include for-small-layout {
        grid-template-columns:
            minmax(3px, 1fr) minmax(auto, $narrow-breakpoint) minmax(3px, 1fr);

        nav {
            .nav-icons {
                display: none;
            }

            .nav-orders {
                display: block;
            }
        }

        .gig-list {
            grid-template-columns: repeat(2, minmax(rem(210px), rem(405px)));

        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);

        nav {
            & .nav-icons {
                display: flex;

                .heart-icon {
                    display: none;

                    &>* {
                        display: none;
                    }
                }
            }
        }

        .gig-list {
            grid-template-columns: repeat(3, minmax(rem(240px), rem(350px)));

        }
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $wide-breakpoint) minmax(20px, 1fr);

        nav {

            .nav-hamburger {
                display: none;
            }

            & .nav-icons {
                .heart-icon {
                    display: grid;
                    place-items: center;

                    &>* {
                        display: block;
                    }
                }
            }

            .nav-orders {
                display: block;
            }
        }

        .gig-list {
            grid-template-columns: repeat(4, minmax(rem(210px), rem(316px)));
        }
    }

    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $wide-breakpoint) minmax(20px, 1fr);

        .gig-list {
            grid-template-columns: repeat(4, minmax(rem(256px), rem(326px)));
        }
    }
}