
@font-face {
    font-family:MacanThin;
    src: url(../../assets/fonts/MacanPanWeb-Thin.ttf);
}
@font-face {
    font-family:MacanExLight;
    src: url(../../assets/fonts/MacanPanWeb-Extralight.ttf);
}
@font-face {
    font-family:MacanLight;
    src: url(../../assets/fonts/MacanPanWeb-Light.ttf);
}
@font-face {
    font-family:Macan;
    src: url(../../assets/fonts/MacanPanWeb-Regular.ttf);
}
@font-face {
    font-family:MacanBold;
    src: url(../../assets/fonts/MacanPanWeb-Bold.ttf);
}
@font-face {
    font-family:MacanExBold;
    src: url(../../assets/fonts/MacanPanWeb-Extrabold.ttf);
}
@font-face {
    font-family:Domaine;
    src: url(../../assets/fonts/DomaineDispNar-Regular.otf);
}
