// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #1dbf73;
$clr4: #95adbe;
$clr5: #62646a;
$clr6: #404145;
$clr7: #222325;
$clr8:#FFE0B3;
$clr9:#804317;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #74767e;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

:root {
    --green-color: #1dbf73;
    --white-color: #ffffff;
    --dark-green: #013914;
    --gray-color: #74767e;
}

// -light: lighten($clr1bg, 10%);
// -dark: darken($clr1bg, 10%);